h1 {
  font-size: 30px;
  font-style: oblique;
  font color:red;
    text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;}
.tripp{
  max-height: 300px;
  max-width: 300px;
  width: 140px;
  height: 140px;
}
body {
background-image: url("../image/erick.jpg");
background-repeat: repeat;
background-size; cover;
}
.erick {
  font-size: 10pxl;
}
